h1 {
    text-align: center;
    color: white;
    border-style: solid;color : white
    
}
.satu {
    text-align: center;
    color : white
}
.gambar {
    display: block;
    margin-left: auto;
    margin-right: auto;

}
body {
    background-color: crimson
}
p {
    color : white
}
h2 {
    color: white
}
